node_modules
packages/**/lib
tmp
.DS_Store
.eslintcache
.stylelintcache
.next
.husky

# editors
.vscode
.vs
.idea

# debugging
*.log

# generated
out
dist
build
storybook-static
public/generated-*
src/interfaces/generated-*
