@import "../../../styles/helpers/all";

.link {
    --icon-color: var(--color-primary-1);
    align-items: center;
    color: var(--color-primary-1);
    text-decoration: none;

    &:hover {
        --icon-color: var(--color-grey-90);
        color: var(--color-grey-90);
    }
}

.iconWrapper {
    display: inline-block;
    height: 1.3em;
    vertical-align: top;
    width: 1.3em;
}

.text {
    .underline & {
        text-decoration: underline;
    }

    &:nth-child(n + 2) {
        margin-left: 0.5em;
    }

    &.bold {
        font-weight: bold;
    }
}
